{% extends 'main.html' %}

{% block content %}
    <a href="add/">Add Products</a>
    <div class="container">
        <div class="row">
            {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img class="img" src="{{ product.image_path }}" width="200px" height="100px" alt="Product Image">
                        <h1>{{ product.name }}</h1>
                        <h3>{{ product.price }}<h3>
                        <p>{{ product.description }}</p>
                        <a href="update/{{ product.id }}/">Update</a>
                        <a href="delete/{{ product.id }}/">DELETE</a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}